In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
data_set=pd.read_csv('gold.csv')
print(data_set.shape)

(5712, 7)

In [17]:
x=data_set.iloc[:,1:4].values
print(data_set.values)

[['2000-01-04' 281.0 281.0 ... 282.7 4 'USD']
 ['2000-01-05' 283.2 283.2 ... 281.1 16 'USD']
 ['2000-01-06' 281.4 281.4 ... 281.4 0 'USD']
 ...
 ['2022-04-26' 1899.8 1912.2 ... 1904.1 166199 'USD']
 ['2022-04-27' 1907.6 1907.85 ... 1886.15 0 'USD']
 ['2022-04-28' 1886.2 1887.1 ... 1886.39 0 'USD']]

In [19]:
x

array([[ 281.  ,  281.  ,  281.  ],
       [ 283.2 ,  283.2 ,  283.2 ],
       [ 281.4 ,  281.4 ,  281.4 ],
       ...,
       [1899.8 , 1912.2 , 1896.3 ],
       [1907.6 , 1907.85, 1881.9 ],
       [1886.2 , 1887.1 , 1873.89]])

In [21]:
dataset=pd.read_csv('gold.csv')
print(dataset.values)

[['04-01-2000' nan 281.0 ... 4 'USD' 282.7]
 ['05-01-2000' 283.2 283.2 ... 16 'USD' 281.1]
 ['06-01-2000' 281.4 281.4 ... 0 'USD' 281.4]
 ...
 ['26-04-2022' 1899.8 1912.2 ... 166199 'USD' 1904.1]
 ['27-04-2022' 1907.6 1907.85 ... 0 'USD' 1886.15]
 ['28-04-2022' 1886.2 1887.1 ... 0 'USD' 1886.39]]

In [25]:
x=data_set.iloc[:,1:4].values
print(dataset.values)

[['04-01-2000' nan 281.0 ... 4 'USD' 282.7]
 ['05-01-2000' 283.2 283.2 ... 16 'USD' 281.1]
 ['06-01-2000' 281.4 281.4 ... 0 'USD' 281.4]
 ...
 ['26-04-2022' 1899.8 1912.2 ... 166199 'USD' 1904.1]
 ['27-04-2022' 1907.6 1907.85 ... 0 'USD' 1886.15]
 ['28-04-2022' 1886.2 1887.1 ... 0 'USD' 1886.39]]

In [26]:
x

array([[ 281.  ,  281.  ,  281.  ],
       [ 283.2 ,  283.2 ,  283.2 ],
       [ 281.4 ,  281.4 ,  281.4 ],
       ...,
       [1899.8 , 1912.2 , 1896.3 ],
       [1907.6 , 1907.85, 1881.9 ],
       [1886.2 , 1887.1 , 1873.89]])

In [35]:
y=data_set.iloc[:,4]

In [36]:
y

0        282.70
1        281.10
2        281.40
3        281.90
4        281.70
         ...
5707    1934.30
5708    1896.00
5709    1904.10
5710    1886.15
5711    1886.39
Name: Close, Length: 5712, dtype: float64

In [37]:
dataset.isnull().sum()

Date        0
Open        4
High        3
Low         4
Volume      0
Currency    0
Close       0
dtype: int64

In [38]:
dataset['Open'].fillna(value=int(dataset['Open'].mean(skipna=True)), inplace=True)

In [39]:
dataset['High'].fillna(value=int(dataset['High'].mean(skipna=True)), inplace=True)

In [40]:
dataset['Low'].fillna(value=int(dataset['Low'].mean(skipna=True)), inplace=True)

In [41]:
dataset.isnull().sum()

Date        0
Open        0
High        0
Low         0
Volume      0
Currency    0
Close       0
dtype: int64

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
st_x=StandardScaler()

In [48]:
x_train=st_x.fit_transform(x_train)

In [49]:
x_test=st_x.transform(x_test)